.header {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;

  .title-container {
    &__title {
      font-size: 18px;
    }
  }
}

.spinner-container {
  width: 100%;
  position: fixed;
  margin-top: 150px;
  z-index: 5;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 60px; /* Stay at the top */
  left: 0;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px; /* Place content 60px from the top */
}

.content-container {
  padding-top: 85px;
  box-sizing: border-box;
  padding-left: 10px;
}
