<mat-card-content>
  <mat-list>
    <mat-list-item>
      <a [routerLink]="['/home']" routerLinkActive="active-link">Home</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <a [routerLink]="['/employees']" routerLinkActive="active-link">Employees</a>
    </mat-list-item>
    <mat-list-item>
      <a [routerLink]="['/groups']" routerLinkActive="active-link">Groups</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="logout" (click)="logout()">Logout</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</mat-card-content>
